.chat-main
  .main-header
    .main-header__group
      .main-header__group__name
        = @group.name
      .main-header__group__menber
        Menber : 
        %ul
          - @group.users.each do |user|
            %li= user.name
    = link_to edit_group_path(@group), class:"main-header__right" do
      %p.main-header__right__edit
        Edit
          
  .main-messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
      