.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__name
        = current_user.name
      %ul.side-header__box__icon
        %li.side-header__box__edit-name
          = link_to new_group_path(current_user) do
            = icon('fas', 'edit', class: 'icon')
        %li.side-header__box__new-group
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side-main
    - current_user.groups.each do |group|
      = link_to "#", class:"side-main__group" do
        %p.side-main__group__name
          = group.name
        %p.side-main__group__last-message
          メッセージはまだありません。